* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
	background: #FFFFFF;
	width: 50%;
	height: 100%;
	line-height: 100%;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: #555;
}

p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background: #563434;
}

.header{
	background: radial-gradient(white);
}

.header .row{
	margin-top: 70px;
}

.categories{
	margin: 70px 0;
}

.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3 img{
	width: 100%;
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.col-4 img{
	width: 100%;
	height: 50%;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

h4{
	color: #555;
	font-weight: normal;
}

.col-4 p{
	font-size: 14px;
}
.rating .fa{
	color: orange;
}

.col-4:hover{
	transform: translate(-5px);
}

/*--------- offer ---------*/

.offer{
	background: whitesmoke;
	margin-top: 80px;
	padding: 30px 0;
}

.col-2 .offer-img{
	padding: 50px;
}

small{
	color: #555;
}

/*---------testimonial--------*/

.testimonial{
	padding-top: 100px;
}

.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: transform 0.5s;
}

.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}

.testimonial .col-3:hover{
	transform: translate(-10px);
}

.fa.fa-quote-left{
	font-size: 34px;
	color: #ff523b;
}

.col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}

.testimonial .col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}

/*----------brands-----------*/
.brands{
	margin: 100px auto;
}

.col-5{
	width: 160px;
}

.col-5 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

.col-5 img:hover{
	filter: grayscale(0);
}

.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}

.footer p{
	color: #8a8a8a;
}

.footer h3{
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex-basis: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}

ul{
	list-style-type: none;
}

.app-logo{
	margin-top: 20px;
}

.app-logo img{
	width: 140px;
}

.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright{
	text-align: center;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}
/*----------all products page ------------*/

.row-2{
	justify-content: space-between;
	margin: 100px auto 50px;
}

select{
	border: 1px solid #ff523b;
	padding: 5px;
}

select:focus{
	outline: none;
}

.page-btn{
	margin: 0 auto 80px;
}

.page-btn span{
	display: inline-block;
	border: 1px solid #ff523b;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover{
	background: #ff523b;
	color: #fff;
}

.searchbtn{
	background-color: rgb(62, 62, 221);
	float: right;
	width: 25%;
	border-radius: 30px;
	transition: background 0.5s;
}
.searchbtn:hover{
	background-color: grey;
}

#search{
	width: 20%;
	float: left;
	font-size: 12px;
}

#searchtype{
	text-align: left;
}

/*---------single product details---------*/

.single-product{
	margin-top: 80px;
}

.single-product .col-2 img{
	padding: 0;
}
.single-product .col-2{
	padding: 20px;
}
.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}
.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #ff523b;
}
input:focus{
	outline: none;
}
.single-product .fa{
	color: #ff523b;
	margin-left: 10px;
}
.small-img-row{
	display: flex;
	justify-content: space-between;
}
.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}

/*----------cart items---------*/

.cart table{
	width: 100%;
	border-collapse: collapse;
}

.cart .product-info{
	display: flex;
	flex-wrap: wrap;
}

.cart .product-info p{
	margin: 3px;
}

.cart th{
	text-align: left;
	padding: 5px 10px;
	color: #fff;
	background-color: #ff523b;
	font-weight: normal;
}

.cart td{
	padding: 10px 5px;
}

.cart td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.cart td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}

.cart td:last-child{
	text-align: right;
}
.cart th:last-child{
	text-align: right;
}

.cart td a{
	color: #ff523b;
	font-size: 12px;
}

.cart .editbtn{
	color: #ff523b;
	text-decoration: none;
	font-size: 15px;
	background-color: white;
	border: none;
}

.cart .removebutton{
	color: #fb774b;
	text-decoration: none;
	font-size: 14px;
	background-color: white;
	border: none;
	width: 100%;
}

.carttotal{
	display: flex;
	justify-content: flex-end;
}
.carttotal table{
	border-top: 3px solid #ff523b;
	width: 100%;
	max-width: 500px;
}

.checkoutcontainer{
	display: flex;
	justify-content: flex-end;
}

.checkoutbtn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	width: 100%;
	transition: background 0.5s;
}

.checkoutbtn:hover{
	background-color: #563434;
}

/*----------checkout-page-----------*/
.proceedtopaymentbtn{
	background: #ff523b;
	color: #fff;
	border-radius: 30px;
	transition: background 0.5s;
}

/*----------login-page------------*/

.loginpage{
	padding: 50px 0;
	background: radial-gradient(#fff,#ffd6d6);
}

.formcontainer{
	background: #fff;
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	overflow: hidden;

}

.formbtn{
	display: inline-block;
}

.formcontainer form{
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
	transition: transform 1s;
}

form input{
	align-content: center;
	width: 50%;
	margin: 5px auto;
	border: 1px solid #ccc;
}

form .btn{
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}

form .btn:focus{
	outline: none;
}

#loginform{
	width: 100%;
	margin: 5px auto;
	text-align: center;
	padding: 20px;
	border-top: 1px solid #ff523b;
}

form a{
	font-size: 12px;
}

#loginform #registerurl,#forgotpasswordurl{
	color: #ff523b;
}

/*------Registration-page------*/

#registrationform{
	width: 50%;
	margin: 5px auto;
	text-align: center;
	padding: 20px;
	border-top: 1px solid #ff523b;
}

#registrationform #loginurl{
	color: #ff523b;
}

/*----------Account-page--------*/
#accountform{
	width: 50%;
	margin: 35px;
	text-align: center;
	padding: 20px;
}

#accountform input{
	margin: 5px auto;
}

#accountform #changepasswordbtn{
	color: #fff;
	background-color: #ff523b;
}

.accountinfo #ordersbtn,#logoutbtn{
	color:#ff523b;
	text-decoration: none;
}

#sub-container{
	padding: 0px;
	margin-right: 140px;
}

#account-page{
	padding: 0px;
	margin-right: -140px;
}

/*----------Contact--------*/

#contact-page span{
	color: #ff523b;
}

/*----------Orders--------*/
.orders table{
	font-size: auto;
	width: 100%;
	border-collapse: collapse;
}

.orders .productinfo{
	display: flex;
	flex-wrap: wrap;
}

.orders th{
	padding: 5px 20px;
	color: #fff;
	background-color: #ff523b;
	text-align: center;
}

.orders th:nth-child(2){
	text-align: center;
}

.orders td{
	padding: 10px 20px;
	text-align: center;
}

.orders td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.orders #accountbottomspace{
	margin-top: 50px;
	margin-bottom: 200px;
}

/*----------Orders Details--------*/
.orderdetails table{
	width: 100%;
	border-collapse: collapse;
}

.orderdetails .productinfo{
	display: flex;
	flex-wrap: wrap;
}

.orderdetails th{
	padding: 5px 20px;
	color: #fff;
	background-color: #ff523b;
	text-align: center;
}

.orderdetails th:nth-child(2){
	text-align: center;
}

.orderdetails td{
	padding: 10px 20px;
	text-align: center;
}

.orderdetails td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.orderdetails input{
	background-color: rgb(62, 62, 221);
	float: right;
	width: 20%;
	border-radius: 30px;
	transition: background 0.5s;
}

.orderdetails input:hover{
	background-color: grey;
}

/*---------- media query for menu --------*/

@media only screen and (max-width: 800px){
	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	nav ul li a{
		color: #fff;
	}
	.menu-icon{
		display: block;
		cursor: pointer;
	}
}

/*-------media query for less than 600 screen size----*/
@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}
	.col-2, .col-3, .col-4{
		flex-basis: 100%;
	}
	.single-product .row{
		text-align: left;
	}
	.single-product .col-2{
		padding: 20px 0;
	}
	.single-product h1{
		font-size: 26px;
		line-height: 32px;
	}
	.cart-info p{
		display: none;
	}
	.orderdetails input{
		background-color: rgb(62, 62, 221);
		float: right;
		width: 50%;
		border-radius: 30px;
		transition: background 0.5s;
	}

	.searchbtn{
		background-color: rgb(62, 62, 221);
		float: right;
		width: 75%;
		border-radius: 30px;
		transition: background 0.5s;
	}
}