@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background-image: url("assets/images/Rose background3.jpeg");
}

.width30 {
  width: 30%;
}
.width70 {
  width: 70%; 
}
.floatL{
  float: left;
}
.floatR{
  float: right;

}

.error {color: #FF0000;}

.AddressSubmit{
  display: inline-block;
  background: green;
  color: white;
  margin: 10px;
  padding: 10px;
  border-width: 5px;
  border-radius: 30px;
  transition: background 0.5s;
  font-weight: bold; 
  font-family: verdana; 
  margin-right: 50px;
}

.AddressSubmit:hover{
  background: darkgreen;
}

.boxStyle{
  padding: 20px; 
  border-radius: 25px; 
  border-top: 6px solid #dc3545;
  border-bottom: 6px solid #28a745;
}